body{
    background-color: rgb(247, 246, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

a{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bolder;

}
.my-header{
    color: rgb(97, 3, 141);
    font-size: 8vw;
    margin-top: 2.5vh;
    font-weight: bolder;
    
}
.link-list{
    
    padding: 4%;
    width:100%;
    box-sizing: border-box;
    margin-top: 3vh;
    margin-bottom: 2vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(247, 246, 248);
}
.center-box{
    border-radius: 25px;
    
    width: 45%;
    height: auto;
    position: relative;
    top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(204, 191, 218);
    border: 3px solid rgb(97, 3, 141) ;
}

input{
    width: 100%;
    height: 3vh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
    border: 3px solid rgb(97, 3, 141) ;
    border-radius: 10px;
    
}

.invalid-input{

    border: 3px solid rgb(141, 3, 33) ;

}

label{

    
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bolder;
}


.login-form{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

button{

    background: rgb(247, 246, 248);
    transition: 0.75s;

    height: 3.5vh;
    font-size: 100%;
    border: 3px solid rgb(97, 3, 141) ;
    border-radius: 10px;
    margin-top:5%;
    margin-bottom: 5%;
    width: 50%;

    color: rgb(97, 3, 141);
    font-weight: bolder;
}

button:hover{
    background: rgb(97, 3, 141);
    border: 3px solid rgb(247, 246, 248);
    color: rgb(247, 246, 248);
}