@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*BASICS*/
body{
    background-color: rgb(247, 246, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

a{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 2.5vw;
    text-decoration: none;
    
}

a:link,a:visited{
    color: rgb(97, 3, 141);
}



input{
    width: 100%;
    padding: 12px 40px;
    height: 45px;
    display: inline-block;
    box-sizing: border-box;
    margin: 8px;

    border: 3px solid rgb(97, 3, 141) ;
    border-radius: 10px;
    
}

i{
    position:absolute;
    left: 15px;
    top:23px;
    color: rgb(97, 3, 141) ;
}

label{

    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bolder;
}

button{

    background: rgb(247, 246, 248);
    transition: 0.75s;

    
    font-size: 100%;
    border: 3px solid rgb(97, 3, 141) ;
    border-radius: 10px;
    margin-top:5%;
    margin-bottom: 5%;
    width: 50%;

    color: rgb(97, 3, 141);
    
}

button:hover{
    background: rgb(97, 3, 141);
    border: 3px solid rgb(247, 246, 248);
    color: rgb(247, 246, 248);
}

form{
    width: 95%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/*FOR TASKS*/
.my-header{
    color: rgb(97, 3, 141);
    font-size: 8vw;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    
    text-align: center;
    
}

.task-title{
   
    text-align: center;
    color: rgb(97, 3, 141);
    
}
.task-description{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 120px;
    background-color: rgb(247, 246, 248);
}


.task-card{
    width: 50vw;
    border: 3px solid rgb(97, 3, 141) ;
    border-radius: 25px;
    background-color: rgb(204, 191, 218);
    margin: 2vh 0vh 2vh  0vh;
    display: flex;
    flex-direction: column;
}


.task-date{
    width:auto;
    font-size: small;
    
}


/*contains create-form in myTasks.html*/
.task-create{
    border-radius: 25px;

    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(204, 191, 218);
    border: 3px solid rgb(97, 3, 141) ;
    
}

/*contains all tasks in myTasks.html*/
.task-area{
    width:100%;
}


/*used in myTasks.html makes create-form stay on top of page when scrolling*/
.stay-on-top{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(247, 246, 248);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top:0%;
    z-index:10;
}

/*OTHER*/
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


/*used on main page. holds hyperlinks to various endpoints*/
.link-list{
    padding: 4%;
    width:100%;
    box-sizing: border-box;
    margin-top: 3vh;
    margin-bottom: 2vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 246, 248);
}


.center-box{
    border-radius: 25px;    
    width: 45%;
    height: auto;
    position: relative;
    transition: all .25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(204, 191, 218);
    border: 3px solid rgb(97, 3, 141) ;
}


.invalid-input{
    border: 3px solid rgb(141, 3, 33);
}


/*allows to display various div on eachother*/
.container{
    margin-top: 1px;
    height:auto;
    width:100%;
    position: relative;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/*div with that class shows above sibling*/
.popup{
    opacity:0;
    justify-content: center;
    transition: all .5s ease-in;
    position:absolute;
    z-index: 9;
}


.form-input{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.back-icon{
    left: 70px;
    top: 40px;
}

.back-icon:hover{
    cursor:pointer;
}